<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Просто сайт</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="sheet">
        <div class="container_user">
            <div class="link_1">Обо мне</div>
            <div class="link_2">Посты</div>
            <div class="link_3">О проекте</div>
        </div>
        <div class="join_push">
            <a href="/account" type="button">Вход</button>
        </div>
    </div>
</body>
</html>